GOOGLE_API_KEY=YOUR_API_KEY
HF_API_KEY=YOUR_HF_ACCESS_TOKEN
GROQ_API_KEY=YOUR_API_KEY
TRANSCRIBE_MODEL=whisper-large-v3
LECTURE_NOTES_MODEL=gemini-1.5-flash
NOTES_QA_MODEL=llama-3.3-70b-versatile
